<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置实例工厂,class属性指定实例工厂对应的工厂实现类为InstanceBeanFactory -->
    <bean id="instanceBeanFactory"
          class="com.oxford.framework.spring.bean.instance.instancefactory.InstanceBeanFactory"/>

    <!--
        factory-bean指定一个实例化工厂
        factory-method指定使用实例化工厂中的getBean()方法获取Bean实例
      -->
    <bean id="bean" factory-bean="instanceBeanFactory" factory-method="getBean"/>
</beans>