<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- 定义一个ID为Bean的SpringBean，类属性class指定对应的构造器包下的Bean -->
    <bean id="bean" class="com.oxford.framework.spring.bean.instance.constructor.Bean"/>
</beans>